body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* different font for titles */

@font-face {
    font-family: 'Code_Pro_Demo';
    src: url('Code_Pro_Demo-webfont.woff2') format('woff2'),
         url('Code_Pro_Demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
